{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
            <div class="form-group">
                <select class="form-control" name="symbol">
                    <option disabled="" selected="" value="">Symbol</option>
                    {%for name in names%}
                        <option value={{name}}>{{name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="shares" placeholder="Nr. of shares" type="text"/>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}